/* Custom properties/variables  */
:root {
   --main-red: #be3144;
   --main-gray: #303841;
   --anchor-active: rgb(231,236,118);
}

/* Removing margin/padding for the main ancestor */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px */
  
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Changing font size with accordance to the screen size. */

/* Using the em unit for breakpoints as in the example
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
}
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 55%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 46%;
  }
}

/* Base styles */

body {
  font-family: 'Arimo', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: black;
}

.ma-shan-zheng-regular {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
} 

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
	color: var(--anchor-active);
}

img {
  display: block;
  width: 100%;
}

/* header bar */

header {

}

header p {
	margin: 0;
	left: 1rem;
	font-size: 6rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 1rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1.5rem 4rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.nav-list a:hover {
  color: var(--anchor-active);
}

/* Service section */

.shift-section {
	width: 100%;
	height: 8rem;
	border: solid black;
} 

/*Enlarging shift section at small screens to match header' increased height*/


/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  .shift-section {
	  height: 10rem;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  .shift-section {
	  height: 15rem;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  .shift-section {
	  height: 20rem;
  }
}


/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://github.com/timeodeus/china-proficiency-survey/blob/main/background2.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center;
}

  }
  
@media (max-width: 75em) {
  .welcome-section {
	  height: min-content;
}
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  padding: 0 10rem;
/*  color: var(--main-red);*/
}

/* Projects section */

.webdev-projects {
  text-align: center;
  padding: 10rem 2rem;
  background-image: url(https://github.com/timeodeus/china-proficiency-survey/blob/main/background1.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-red);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}


/*Creative writing section*/
.creative-writing {
  text-align: center;
  padding: 10rem 2rem;
  background-image: url(https://github.com/timeodeus/china-proficiency-survey/blob/main/background1.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Contact section */

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-image: url(https://github.com/timeodeus/china-proficiency-survey/blob/main/background2.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center;
}

.contact-section-header > h2 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 3rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: var(--main-red);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-red);
  border-top: 4px solid var(--main-gray);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}